<!DOCTYPE html>
<html lang="en">

<head>
    <title>YourUSM</title>
    <link rel="stylesheet" href="estilos.css">
</head>

<div class="topnav">
    <a class="active" href="home.html">YOURUSM</a>
    <div class="login-register">
      <form action="/action_page.php">
        <button type="button"><a href="iniciar.html">Iniciar sesion</a></button>
        <button type="button"><a href="registrar.html">Registrarse</a></button>
      </form>
    </div>
</div> 

<body>
   
    <p>Pagina desarrollada por estudiantes para ayudar y facilitar el proceso de denunciar</p>

    <h3>Members</h3>
        
    <p>Check out all our <a href="all_members.html">members</a></p>
    <div class="midbutton">
        <button class="denunciar">DENUNCIAR</button>
    </div>
</body>

<footer>
    <div class="dbutton">
        <button class="dudas"><a href="informaciones.html">?</a></button>
    </div>
    <div class="mdbutton">
        <button class="misdenuncias"><a href="misdenuncias.html">Mis Denuncias</a></button>
    </div>
</footer>

</html>
